@using Models.VM
@model LoginVM
@{
    ViewBag.Title = "Log in";
    Layout =null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/png" href="~/Content/images/fav-icon.png" />
    <link rel="stylesheet" href="~/fonts/fontawesome/css/font-awesome.min.css">
    <script>
        var appPath = "@Request.ApplicationPath";
        if (appPath === "/") appPath = "";
    </script>
</head>
<body>
    <div class="intro col-md-12 hidden-sm hidden-xs">
        <img class="logo" src="~/Content/images/logo.png" alt="" />
        <div class="intro-text">
            <div class="title">Contact Search</div>
            <div class="login-text"></div>
        </div>
    </div>
    <div class="col-md-12 login-menu">
        <div class="col-md-12 login-side active-side">
            <div class="login-block">
                <img src="~/Content/images/login-ico.png" alt="" />
                <span>Log In</span>
            </div>
        </div>
    </div>
    <div class="col-md-12 input-form">
        @using (Html.BeginForm("Login", "Account", null, FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="login-form">
                <div>
                    <div>@Html.TextBoxFor(m => m.Email, new { @class = "login-input user-input", placeholder = "Username" })</div>
                    <div class="error-valid">@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })</div>
                </div>
                <div>
                    <div>@Html.PasswordFor(m => m.Password, new { @class = "login-input", placeholder = "Password" })</div>
                    <div class="error-valid">@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })</div>
                </div>
                @Html.ValidationSummary(true)
                <div><button class="btn-job-default btn-login" type="submit">LOGIN</button></div>
            </div>
        }
    </div>
</body>
</html>